.formControl {

}

.error input,
.error textarea {
    border: 1px red solid;
}

.formControl span {
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}